::-webkit-scrollbar {
    width: 5px;  /* Width of the vertical scrollbar */
    height: 5px; /* Height of the horizontal scrollbar */
  }
  
  /* Style the track (background) of the scrollbar */
  ::-webkit-scrollbar-track {
    background: none; /* Light gray track */
    border-radius: 10px;  /* Optional: rounded corners for the track */
  }
  
  /* Style the thumb (the part that moves) */
  ::-webkit-scrollbar-thumb {
    background: #2b366e; /* Darker color for the thumb */
    border-radius: 10px; /* Optional: rounded corners for the thumb */
  }


/* Body and main container styling */
body {
    display: flex;
    justify-content: center;  /* Center content horizontally */
    height: 100vh;            /* Make sure body takes full viewport height */
    background-image: url("../img/projects_background.jpg");
}

.projects-container{
    width: 75%;
    padding-top: 60px;
    margin-top: 20px;
    justify-content: flex-start;
}

/* Projects container to hold all the project images */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0rem, 1fr));
    gap: 10px;
    grid-auto-flow: row;   
    box-sizing: border-box;
    
}

/* Style for each project item (image) */
.project-item {
    display: flex;
    flex-direction: column;   /* Stack the image and title vertically */
    align-items: center;      /* Center the image and title horizontally */
    height: auto;             /* Ensure the height adjusts automatically */
    text-align: center;       /* Ensure the title is centered under the image */
    cursor: pointer;
    aspect-ratio: 1/1.125;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
    border-radius: 8px; /* Optional: Rounded corners for a modern look */
}

.project-item button {
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #bccef5;

}

.project-item img {
    width: 85%;              /* Ensure images take up the full width of the container */
    height: auto;             /* Maintain aspect ratio */
    object-fit: cover;
    min-width: 200px;
    aspect-ratio: 1 / 1;
}

.project-title {
    margin-bottom: 5px;         /* Add some space between the image and the title */
    margin-top: 0;
    font-size: 1.2rem;          /* Set the font size for the title */
    color: #333;              /* Set a color for the title */
    font-weight: bold;        /* Optional: Make the title bold */
}

.project-item:hover {
    transform: scale(1.02); /* Slightly increase size to "pop out" */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    z-index: 1; /* Ensure the hovered item appears on top of others */
}

.tags {
    margin-top: 12px; /* Add some spacing from the project title */
    display: flex; /* Align tags in a row */
    flex-wrap: wrap; /* Allow tags to wrap to the next line if needed */
    gap: 8px; /* Add space between tags */
    justify-content: center;
}

.tag {
    background-color: #6c84a3; /* Background color */
    color: #fff; /* Text color */
    font-size: 12px; /* Adjust font size */
    padding: 5px 5px; /* Padding inside the tag */
    border-radius: 10px; /* Rounded corners */
    white-space: nowrap; /* Prevent text wrapping within a tag */
    text-transform: uppercase; /* Optional: Make text uppercase */
}




.modal {
    display: none;  /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Overlay color */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal h2{
    text-align: center;
    margin-bottom: 0;
}


.modal-content {
    position: relative;  /* Relative positioning to position the close button */
    display: flex;
    flex-direction: column;
    background-color: #a9beec;
    padding: 20px;
    border-radius: 8px;
    z-index: 1010;  /* Ensure the content is above the overlay */
    width: 80%;  /* Optional: set width of the modal */
    max-width: 800px;  /* Optional: set max width */
    max-height: 70vh;
    overflow-y: auto;  /* Enable vertical scroll if content exceeds max-height */
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content img{
    width: 50%;
    margin: 10px;
    align-self: center;
}

.modal-content h4{
    margin-top: 30px;
    margin-bottom: 0;
    text-decoration: underline;
}

.modal-content ul{
    margin: 0 0;
}

.modal-content p{
    margin-bottom: 0;
}

/* Close button styling */
.closeBtn {
    position: absolute;
    top: 10px;  /* Adjust this to position the button vertically */
    right: 10px;  /* Adjust this to position the button horizontally */
    font-size: 1.5rem;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1020;  /* Ensure the close button is above modal content */
}

.closeBtn:hover {
    color: red;  /* Optional: Change color when hovering */
}

@media (max-width: 800px) {
    .tag {
        font-size: 10px; /* Adjust font size */
    }

}